{% extends "auctions/layout.html" %}

{% block main %}
    <h2>{{message}}</h2>
    
    <article>
        {% for listing in listings %}
            {% if listing.available %}
                <section>
                    <a href="{% url 'listing' listing.id %}" style="text-decoration: none;">
                        <div class="listing">

                            <h3>{{listing.title}}</h3>
                            {% if listing.photo != null %}
                                <img class="image" src="{{listing.photo_url}}" width="150px" height="auto">
                            {% endif %}    
                            <li>
                                Description: {{listing.desc}}
                            </li>
                            <li>
                                Highest Bid: ${{listing.startbid}}
                            </li>
                            <!--<li>
                                Date of creation: {{Listing.creation_date}}
                            </li>-->

                            {% if user.is_authenticated %}
                            <br>
                                <!--Add stuff about watchlist later-->
                            {% endif %}
                        </div>
                    </a>
                </section>
            {% endif %}
        {% endfor %}
    </article>
    
{% endblock %}