{% extends "auctions/layout.html" %}

{% block main %}
<div class="container">
    <!-- Content here -->
  
    <h2>Active Listings</h2>

    <ul>
        
        {% for listing in listings %}
            {% if listing.available %}
        <a href="{% url 'listing' listing.id %}" style="text-decoration: none;">
            <div class="listing">

                <!--{% for n in auction.photos.all %}-->
                <!--{% endfor %}-->

                <h3>{{Listing.title}}</h3>
                    
                Description: {{Listing.desc}}
                <li>
                    Highest Bid: {{Listing.startbid}}
                </li>
                <!--<li>
                    Date of creation: {{Listing.creation_date}}
                </li>-->

                {% if user.is_authenticated %}
                <br>
                    <!--<a href="{% url 'watchlist_add' auction.id %}" class="btn btn-primary">Add to Watch List</a>-->
                {% endif %}
            </div>
        </a>
            {% endif %}
        {% endfor %}
    </ul>   
</div>
{% endblock %}
